GOOGLE_CREDENTIALS=
SPREADSHEET_ID=
YAHOO_DISCORD_WEBHOOK_URL=
YAHOO_DISCORD_PRIORITY_WEBHOOK_URL=
YAHOO_DISCORD_SOLD_WEBHOOK_URL=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_USER_ID=
LINE_GROUP_ID=
LINE_NOTIFY_MODE=personal
YAHOO_BATCH_SIZE=30
MAX_STATUS_CHECKS_PER_RUN=30
YAHOO_ACTIVE_START_HOUR=9
YAHOO_ACTIVE_END_HOUR=21
YAHOO_SEARCH_DELAY_MIN_SECONDS=5
YAHOO_SEARCH_DELAY_MAX_SECONDS=8
HTTP_TIMEOUT_SECONDS=20
YAHOO_HTTP_MAX_RETRIES=2
YAHOO_HTTP_BACKOFF_BASE_SECONDS=5
SHEETS_MAX_RETRIES=3
SHEETS_BACKOFF_BASE_SECONDS=3
FAST_SOLD_MINUTES=10
DRY_RUN=1
